@mixin position($top: false, $left: false, $bottom: false, $right: false, $zindex: false) {
	position: absolute;
	@if type_of($top) == number {
		top: $top;
	}
	@if type_of($left) == number {
		left: $left;
	}
	@if type_of($bottom) == number {
		bottom: $bottom;
	}
	@if type_of($right) == number {
		right: $right;
	}
	@if type_of($zindex) == number {
		z-index: $zindex;
	}
}

@mixin border-radius($radius: false, $topleft: false, $topright: false, $bottomright: false, $bottomleft: false) {
	@if type_of($radius) == number {
		-webkit-border-radius: $radius;
		   -moz-border-radius: $radius;
		        border-radius: $radius;
	}
	@if type_of($topleft) == number {
		-webkit-border-top-left-radius: $topleft;
		   -moz-border-radius-topleft: $topleft;
		        border-top-left-radius: $topleft;
	}
	@if type_of($topright) == number {
		-webkit-border-top-right-radius: $topright;
		   -moz-border-radius-topright: $topright;
		        border-top-right-radius: $topright;
	}
	@if type_of($bottomright) == number {
		-webkit-border-bottom-right-radius: $bottomright;
		   -moz-border-radius-bottomright: $bottomright;
		        border-bottom-right-radius: $bottomright;
	}
	@if type_of($bottomleft) == number {
		-webkit-border-bottom-left-radius: $bottomleft;
		   -moz-border-radius-bottomleft: $bottomleft;
		        border-bottom-left-radius: $bottomleft;
	}
}

@mixin box-shadow($x, $y, $blur, $color, $inset: false) {
	@if $inset {
		-webkit-box-shadow: inset $x $y $blur $color;
		   -moz-box-shadow: inset $x $y $blur $color;
		        box-shadow: inset $x $y $blur $color;
	}
	@else {
		-webkit-box-shadow: $x $y $blur $color;
		   -moz-box-shadow: $x $y $blur $color;
		        box-shadow: $x $y $blur $color;
	}
}

@mixin box-sizing($value) {
	-webkit-box-sizing: $value;
	   -moz-box-sizing: $value;
	        box-sizing: $value;
}

@mixin transition($property: false, $time: 1s, $ease: linear) {
	@if $property == none {
		-webkit-transition: none;
		   -moz-transition: none;
		     -o-transition: none;
	}
	@else {
		-webkit-transition: $property $time $ease;
		   -moz-transition: $property $time $ease;
		     -o-transition: $property $time $ease;
	}
}

@mixin hires-graphic($file, $type, $width, $height) {
	$file_name: $file + '.' + $type;
	$retina_name: $file + '_2x.' + $type;
	
	background-image: url('../images/' + $file_name);
	
	@media (-webkit-min-device-pixel-ratio: 2) {
		background-image: url('../images/' + $retina_name) !important;
		-webkit-background-size: $width $height;
	}
}